<div class="dashboard-container">
  <aside class="sidebar">
    <div class="logo">
      <img class="circle" src="assets/quit-smoking.png" alt="Icon" />
      <span class="brand-name">Quitnic</span>
    </div>
    <nav class="menu">
      <ul>
        <li class="menu-item active">
          <a href="dashboard/home">
            <i class="fas fa-home"></i>
            <span>Home</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="dashboard/progress">
            <i class="fas fa-chart-line"></i>
            <span>Progress</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="dashboard/achievements">
            <i class="fas fa-trophy"></i>
            <span>Achievements</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="dashboard/craving-help">
            <i class="fas fa-hands-helping"></i>
            <span>Craving Help</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="dashboard/personalization">
            <i class="fas fa-edit"></i>
            <span>Personalization</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="#">
            <i class="fas fa-sign-out-alt"></i>
            <span (click)="logout()">Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>
  <main class="main-content">
    <header class="top-bar">
      <div class="greeting">Hi Amar Omerovic</div>
      <div class="user-menu">
        <div class="navigation">
          <button class="nav-button">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button class="nav-button">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
        <button class="notification-button">
          <i class="fas fa-bell"></i>
        </button>
      </div>
    </header>
    <section class="content">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
    </section>
  </main>
</div>
