<div class="dashboard-container">
  <aside class="sidebar">
    <div class="logo">
      <img class="circle" src="assets/quit-smoking.png" alt="Icon" />
      <span class="brand-name">Quitnic</span>
    </div>
    <nav class="menu">
      <ul>
        <li class="menu-item active">
          <a [routerLink]="['/dashboard/home']">
            <i class="fas fa-home"></i>
            <span>Home</span>
          </a>
        </li>
        <li class="menu-item">
          <a [routerLink]="['/dashboard/progress']">
            <i class="fas fa-chart-line"></i>
            <span>Progress</span>
          </a>
        </li>
        <li class="menu-item">
          <a [routerLink]="['/dashboard/achievements']">
            <i class="fas fa-trophy"></i>
            <span>Achievements</span>
          </a>
        </li>
        <li class="menu-item">
          <a [routerLink]="['/dashboard/craving-help']">
            <i class="fas fa-hands-helping"></i>
            <span>Craving Help</span>
          </a>
        </li>
        <li class="menu-item">
          <a [routerLink]="['/dashboard/personalization']">
            <i class="fas fa-edit"></i>
            <span>Personalization</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="#">
            <i class="fas fa-sign-out-alt"></i>
            <span (click)="logout()">Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>
  <main class="main-content">
    <header class="top-bar">
      <div class="greeting">Hi {{ fullName }}</div>
    </header>
    <section class="content">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
    </section>
  </main>
</div>
